<div class="container">
    <h2>Your Component View</h2>

    <div class="row">
        <div class="col-xs-6">
            <input type="text" id="searchValue" ng-model="searchValue"
                   name="searchValue" value="" autocomplete="off"
                   class="input-block-level primary-search"/>
            <input id="searchBy"
                   name="searchBy" type="hidden" value="emailUser"/>
        </div>
        <div class="col-xs-6">

            <button type="submit" id="searchBtn" ng-click="searchCustomer()"
                    class="btn btn-primary">Action Button</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Welcome!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="errorSpan" class="span-8"></div>
        </div>
    </div>
</div>



<div class="container">

    <div class="row">
        page details tile
    </div>
</div>